@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .OurHistory {
    @apply flex flex-col md:flex-row text-center md:text-start md:items-start items-center gap-[2rem] px-5;
  }

  .counter {
    @apply bg-slideOne bg-cover bg-center bg-fixed mb-5 flex justify-center items-center;
  }

  .icondiv {
    @apply flex md:justify-start justify-center;
  }
  .iconfooter {
    @apply text-blue-500 hover:text-[#ff4e31] hover:scale-125 hover:border-[#ff4e31] border-2 border-gray-200;
  }
  .contact_button {
    @apply py-3 px-6 border-2 border-white rounded-[28px] text-white hover:bg-[#ff4e31] hover:scale-[1.18] transition-transform duration-300 ease-in-out;
  }
  .enrollment {
    @apply select-none z-30 cursor-pointer border-4 border-[#FF4E31] px-3 py-1 flex items-center justify-center  font-bold;
  }
  .service_box{
    @apply px-6 shadow-md py-4 rounded transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg hover:border-solid hover:border-2 hover:border-[#ff4e31]
  }
  .service_box_child{
    @apply text-5xl text-[#ff4e31] border rounded-full w-32 h-32 text-center items-center pl-10 pt-9 m-auto
  }
  .activities{
    @apply flex shadow-md  gap-4 p-4 transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg hover:border-[#ff4e31] border border-transparent rounded-lg
  }
  .activities_child{
    @apply border rounded-full w-28 h-28  text-center text-white text-3xl flex items-center justify-center
  }
}
