/* -------------- */
.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.content {
  padding: 5px 15px;
  z-index: 2;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: bold;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 360px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url(/src/img/header.png);
  z-index: 1;
}

@media (max-width: 480px) {
  .content {
    padding: 20px 15px;
    text-align: center;
  }

  .content h1 {
    position: static;
    font-size: 30px;
  }

  .content p {
    position: static;
    font-size: 18px;
  }

  .image {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
