/* -------------- */
.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 150px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 0px 11px #8a8a8a61;
}

.content {
  padding: 5px 0 5px 25px;
  z-index: 2; 
}

.content h1 {
  font-size: 40px;
  margin-bottom: 3px;
  font-weight: bold;
  color: #002749;
}

.content p {
  font-size: 20px;
  color: #ff4e31;
  margin-left: 20px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 360px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url("../../assets/images/dashboardImg.png");
  z-index: 1;
}

@media (max-width: 687px) {
  .content {
    padding: 20px 0;
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  .content h1 {
    position: static;
    font-size: 30px;
    text-align: center;
  }

  .content p {
    position: static;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
  }

  .image {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
  }
}