@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.animate-typing {
  overflow: hidden; /* Ensures the content is hidden during animation */
  white-space: nowrap; /* Prevents wrapping */
  animation: typing 3.5s steps(30, end) forwards; /* Adjust timing and steps as necessary */
}

.contact-text h2 {
  font-family: 'Courier New', monospace;
  font-size: 2.5rem; /* حجم النص أكبر ليكون أكثر وضوحاً */
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid rgba(255, 78, 49, 0.8); /* لون أنيق لمؤشر الكتابة */
  width: 100%; /* تغيير العرض إلى 100% */
  max-width: 100%; /* لضمان عدم تجاوز النص الحدود */
  display: inline-block;
  color: rgba(0, 39, 73, 0.9); /* لون أغمق ليعطي شكلاً أنيقاً */
  padding: 10px 0; /* مسافة عمودية لتعطي تباعداً أفضل */
  line-height: 1.5; /* لتحسين المسافة بين السطور */
  letter-spacing: 2px; /* جعل الحروف متباعدة قليلاً */
  animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
  text-align: center; /* لجعل النص في منتصف العنصر */
}
