.all {
  height: 150px;
  display: flex;
  background-color: #f3f3f3;

  border-radius: 10px;
}
.content {
  padding: 5px 0 0 15px;
  
}
.content h1{
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: bold;
}

.image {
  position: absolute;
  top: 0;
  right: -14px;
  bottom:0;
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  width: 360px;
  background-size: cover;
  background-image: url(/src/img/header.png);
}
