/* Calendar.css */
.calendar-container {
    width: 100%;
    max-width: 800px; 
    margin: 5rem auto;
    padding: 20px; 
    background-color: #002749 !important;
    border-radius: 8px; 
  } 
  
  .rbc-calendar {
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .rbc-header {
    background-color: #ff4e31; 
    border-bottom: 1px solid #dee2e6; 
    color: #fbfbfd; 
    font-weight: bold; 
  }
  
  .rbc-day-bg {
    background-color: #ff4e31;
  }
  
  .rbc-selected {
    background-color: #66ff00; 
    color: white; 
  }
  
  .rbc-event {
    background-color: #002749 !important; 
    color: white; 
    border-radius: 4px; 
  }
  
  .rbc-event:hover {
    background-color: #ff4e31; 
  }
  
  .rbc-today {
    background-color: #ff4e31 !important; 
    color:#ff4e31;
  }
  
  .rbc-toolbar button {
    color:#fbfbfd !important;
  }

  .rbc-toolbar {
    padding-bottom: 20px !important;
   
  }

  .rbc-toolbar-label {
    color: #fbfbfd;
  }

 .rbc-btn-group .rbc-active {
    color: #ff4e31 !important;
  }
  /* ---------------------------------------- */
  /* .rbc-now {
    background-color: #002749;
  } */
  /* .rbc-current {
    background-color: #002749;
  } */
  /* .rbc-toolbar {
    background-color: #002749;
  }

  .rbc-btn-group {
    color:white ;
  } */

