/* Calendar.css */
.calendar-container {
    width: 100%;
    max-width: 800px; 
    margin: 2rem auto;
    /* padding: 20px; 
    background-color: transparent !important;
    border-radius: 8px;  */
  } 
  
  .rbc-calendar {
    border-radius: 8px; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    /* background-image: url(./images/unknown-user-2.jpg); */
    background-color: #0f3b61;
  }
  
  .rbc-header {
    background-color: transparent !important; 
    border-bottom: 1px solid #dee2e6; 
    color: #fbfbfd; 
    font-weight: bold; 
  }
  
  .rbc-day-bg {
    background-color: #cacdcf;
  }
  
  .rbc-selected {
    background-color: #66ff00; 
    color: white; 
  }
  
  .rbc-event {
    background-color: #0f3b61 !important; 
    color: white; 
    border-radius: 4px; 
  }
  
  .rbc-event:hover {
    background-color: #ff4e31; 
  }
  
  .rbc-today {
    background-color: #ff4e31 !important; 
    color:#ff4e31;
  }
  
  .rbc-toolbar button {
    color:#fbfbfd !important;
  }

  .rbc-toolbar {
    padding-bottom: 20px !important;
    height: 3.5rem;
   
  }

  .rbc-toolbar-label {
    color: #fbfbfd;
    font-size: 1.7rem;
    /* position: absolute;
    top: 35px;
    font-size: 2rem;
    padding: 2rem 0;
    display: inline; */
  }

 .rbc-btn-group .rbc-active {
    color: #ff4e31 !important;
  }

  /* .rbc-btn-group {
    margin: 0 2rem;
  } */
  /* ---------------------------------------- */
  /* .rbc-now {
    background-color: transparent !important;
  } */
  /* .rbc-current {
    background-color: transparent !important;
  } */
  /* .rbc-toolbar {
    background-color: transparent !important;
  }

  .rbc-btn-group {
    color:white ;
  } */

