/* start logos */
.loop li {
  position: relative;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 992px) {
  @keyframes move {
    0% {
      right: 970%;
    }
    100% {
      right: -970%;
    }
  }
}
.loop:hover li {
  animation-play-state: paused;
}
.logo {
  filter: grayscale(100%);
}
.logo:hover {
  filter: none;
  transition: 0.3s;
}
.loop-parent {
  overflow: hidden;
}

/* start Testimonials */
.Testimonials {

  position: relative;
}
.Testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.Testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  transition: 0.3s;
}
.Testimonials .box:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.Testimonials img {
  position: absolute;
  right: -20px;
  top: -55px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #fbfbfd;
}


/* end Testimonials */



#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
