/* start logos */
.loop li {
  position: relative;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 992px) {
  @keyframes move {
    0% {
      right: 970%;
    }
    100% {
      right: -970%;
    }
  }
}
.loop:hover li {
  animation-play-state: paused;
}
.logo {
  filter: grayscale(100%);
}
.logo:hover {
  filter: none;
  transition: 0.3s;
}
.loop-parent {
  overflow: hidden;
}

/* start Testimonials */
.Testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.Testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.Testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  transition: 0.3s;
}
.Testimonials .box:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.Testimonials img {
  position: absolute;
  right: 10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ececec;
}
.Testimonials h3 {
  margin: 0 0 10px;
  font-weight: bold;
}
.Testimonials .tital {
  margin-bottom: 10px;
  color: #2196f3;
  display: block;
}
.Testimonials .rate .filled {
  color: #ffc107;
}
.Testimonials p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}

/* end Testimonials */


#Testimonials .main-title {
  margin: 0 auto 80px;
  width: fit-content;
  border: 2px solid purple;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 30px;
  z-index: 1;
  position: relative;
  transition: blue;
}
#Testimonials .main-title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: purple;
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
#Testimonials .main-title::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: purple;
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
#Testimonials .main-title:hover::before {
  z-index: -1;
  animation: left-move 0.3s linear forwards;
}
#Testimonials .main-title:hover::after {
  z-index: -1;
  animation: right-move 0.3s linear forwards;
}
#Testimonials .main-title:hover {
  color: white;
  border: 2px solid black;
  transition-delay: blue;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
