

/* Main Container */
.mcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
  justify-content: center; 
  align-items: center; 
  max-width: 1200px;
  margin: auto;
  padding: 1rem; 
}
@media (max-width: 1024px) {
  .mcontainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    max-width: 100%; /* Ensure full width on smaller screens */
    padding: 0 1rem; /* Optional: Adds padding for medium screens */
  }
}

@media (max-width: 768px) {
  .mcontainer {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
    max-width: 100%; /* Ensure full width on mobile screens */
    padding: 0 1rem; /* Optional: Adds padding for mobile screens */
  }
}

/* .profile-container:hover */
.profile-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transition: opacity 0.9s ease-in;
}



.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.9s ease-in;
  background-image: var(--bg-image);
  z-index: -1; 
}

.profile-container:hover:before {
  opacity: 0;
  transition: all 0.9s ease;
}

/* Profile Card Wrapper */
.profile-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
  transform: skew(30deg) translateX(125%);
  opacity: 0.9;
  transition: all 0.75s ease;
}

.profile-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
  transform: skew(30deg) translateX(-125%);
  opacity: 0.9;
  transition: all 0.6s ease;
}

.profile-container:hover .profile-wrapper::after {
  transform: skew(30deg) translateX(125%);
  background: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
}
.profile-container:hover .profile-wrapper::before {
  transform: skew(30deg) translateX(-125%);
  background: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
}

/* Profile Card */
.profile-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 10px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile-container:hover .profile-card {
  opacity: 1;
  transition: all 0.6s ease;
  transition-delay: 0.2s;
}

.profile-card .fav-icon {
  color: #ec0e0e;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 21px;
  cursor: pointer;
}

/* Profile Picture */
.profile-card img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, green, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* border: 2px solid #1999; */
  position: relative;
}

.profile-card h2 {
  line-height: 1.2;
  color: #222;
}
.profile-card h4 {
  line-height: 1.5;
  color: #444;
}

.profile-card p {
  line-height: 1.2;
  color: #333;
  margin: 10px 0;
}


/* Profile Button */
.profile-card a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 20px;
  margin-top: 1rem;
  background: #2371ae;
  border-radius: 50px;
  background: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
}
