@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0 auto;
}


.sidebarButton {
  @apply flex items-center space-x-5 text-lg font-semibold px-4 py-3 w-full hover:bg-[#033f75] hover:border-r-[#8fc4d9] hover:border-r-4;
}

.sidebarButtonActive{
  @apply bg-[#033f75] border-r-[#8fc4d9]  border-r-4
}

.formButton{
  @apply block border-2 border-deepBlue text-deepBlue font-semibold text-base px-4 py-1 my-4 rounded-lg hover:text-white hover:bg-deepBlue transition duration-300 ease-in-out
}
/* .formButton{
  @apply w-full max-w-xs mx-auto mt-4 transition duration-300 ease-in-out transform hover:scale-105
} */

@keyframes icons-hover {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}

.sidebarButton:hover .sidebarIcon {
  animation: icons-hover 0.8s linear infinite;
}

.profileLink{
  @apply  flex items-center px-4 py-2 text-gray-600 border-b w-full text-sm hover:text-Orange
}

.profileLinkIcon{
  @apply  mr-2 text-lg hover:text-deepBlue
}

.profileMen::before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust to position the triangle */
  right: 15px; /* Adjust based on your dropdown's position */
  width: 18px;
  height: 22px;
  background: #f4f4f4;
  transform: rotate(45deg);
  z-index: -1; /* Ensure the triangle is behind the dropdown content */
}

.noData {
  @apply w-fit mx-auto my-6 border text-deepBlue rounded-lg p-6 text-xl
}

.tHead {
  @apply border-b bg-deepBlue font-medium text-white text-lg
}

.dayName{
  @apply whitespace-nowrap px-6 py-4 font-medium text-lg bg-deepBlue text-white
}
